/BetterSongList/bin/*
/BetterSongList/obj/*
/BetterSongList/*.user
/BetterSongList/*.xcf
/BetterSongList/HarmonyPatches/RemoveSplashscreen.cs
/BetterSongList/HarmonyPatchHelper.cs
/BetterSongList/Screenshots/SocialPreview.jpg
/.vs
